@import url('https://fonts.googleapis.com/css?family=Raleway')

@mixin small
  @media (max-width: 600px)
    @content

@mixin xsmall
  @media (max-width: 400px)
    @content

@mixin transition
  transition: .4s

$panelWidth: 340px
$panelHeight: 60px

$border: 1px solid #ddd

$shadow: 0 0 15px #666

li
  list-style: none

a, a:active, a:visited
  text-decoration: none
  color: inherit

*
  margin: 0
  padding: 0
  box-sizing: border-box
body
  background: #ddd
  color: #333
  font-family: 'Raleway', sans-serif
  h2
    width: $panelWidth
    margin-bottom: 10px
    border-bottom: $border
    text-transform: capitalize
  .container
    min-height: 100vh
    width: $panelWidth
    margin: auto
    padding: 40px 15px
    background: #f5f5f5
    @include small
      width: 100%
      padding: 5px
    form
      input[type=number]
        font-size: $panelHeight/1.6
        width: 100%
        height: $panelHeight
        text-align: center
      .units
        width: 100%
        clear: both
        .unit1, .unit2
          float: left
          width: 50%
          border: $border
          text-transform: capitalize
          text-align: center
          label
            input[type=radio]
              display: none
            .unitButton
              $height: $panelHeight/1.8
              background: #666
              color: #eee
              width: 100%
              height: $height
              line-height: $height
              text-align: center
              cursor: pointer
              @include transition
              &:hover
                background: #bbb
                color: #222
                text-transform: uppercase
            input[type=radio]:checked ~ .unitButton
                background: red
                color: white
      button[type=submit]
        width: 100%
        height: $panelHeight
        line-height: $panelHeight
        font-size: $panelHeight/1.8
        color: white
        text-align: center
        background: #ddd
        border: none
        cursor: pointer
        @include transition
        &:hover
          background: #f2b44a

    .display
      width: 100%
      height: auto
      // min-height: $panelHeight
      line-height: $panelHeight
      text-align: center
      text-transform: capitalize
      font-size: $panelHeight/2.5
      background: white
      border: 1px solid #ddd
      @include transition

.nav
  a
    $height: 40px
    display: block
    width: 100%
    height: $height
    line-height: $height
    @include transition
    &:hover
      border: $border
      box-shadow: $shadow
    i
      width: 60px
      text-align: center
      color: red
      font-size: 1.4em
